<!DOCTYPE html>
<html>
<head>
  <title>Product Details</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="product-img-container">
    <div class="product-image">
      <img src="./photos/photo_13.jpg" alt="Product Image">
    </div>
    <div class="product-details">
      <h1 class="product-title">Product Name</h1>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus sagittis nibh, vitae tincidunt libero pellentesque a.</p>
      <p class="product-price">$199.99</p>
      <button class="add-to-cart">Add to Cart</button>
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>